body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 230px;
    padding: 20px;
    border-right: 3px solid #1f4ed8;
}

.sidebar h2 {
    color: #1f4ed8;
    margin-bottom: 20px;
}
